<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  WeShare makes it easier for college students to share their stuff. Need a drill for your carpentry project? Have to iron some clothes? Use WeShare to find someone on your campus with the stuff you need, and share your stuff to make peoples' lives easier. Mom always said, "sharing is caring," and WeShare is making it easier than ever to care for your mates. WeShare was developed by <a href="http://connorjustice.com">Connor Justice</a>, <a href="http://eriki.net">Erik Islo</a>, and Catherine Alvarado for the Digital Wesleyan Fellowship. 
</p>