<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
For help with WeShare, contact <a href="mailto:connorjustice@gmail.com">Connor Justice</a> or look at our <a href="https://github.com/cjustice/weshare">github repo</a>
</p>
