<% if signed_in? %>
	<div class="row">
		<aside class="span">
	      <section>
	        <%= render 'shared/user_info' %>
	      </section>
	      <section class="form-section">
	        <%= render 'shared/item_form' %>
	      </section>
	    </aside>
<%#	   <div class="span8 recent-items"> %>
 <%#  //<h3>Recently Added</h3>%>
 <%#     		//<%= render 'shared/feed' %>
 <%#   //	</div>%>
<%#	</div> %>
<% else %>
<div class="center jumbotron">
 <h1><span style="color: #ff0000;">We</span>Share</h1>

  <h2>
    Share stuff with friends
  </h2>

  	<%= link_to "Sign up now!", signup_path, class: "btn btn-danger btn-lg"%>
</div>
<% end %>