<div class="center jumbotron">
  <h1>WeShare</h1>

  <h2>
    Share with friends
  </h2>

  <button type="button" class="btn btn-primary btn-lg">
  	<%= link_to "Sign up now!", signup_path%></button>
</div>