<div class="col-sm-2 col-md-2 col-lg-2 col-centered">
	<li class="single-item">
		<%= image_tag(item.avatar.url(:medium), alt: item.title, class: "item-image img-rounded") %>
	</br>
		<strong><span class="title"><%= item.title %></span></strong>
		<button type="button" class="btn btn-success borrow-btn">Borrow!</button>
	</li>

	 <% if current_user?(item.user) %>
    <%= link_to "delete", item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: item.title %>
  	<% end %>

</div>